.navbar {
    box-shadow:0 2px 0 rgba(0, 0, 0, 0.4);
    z-index: 4;
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top:0;
    left:0;
    width: 100%;
}

html {
  box-sizing: border-box;

  /* Set font size for easy rem calculations
   * default document font size = 16px, 1rem = 16px, 100% = 16px
   * (100% / 16px) * 10 = 62.5%, 1rem = 10px, 62.5% = 10px
  */
  scroll-behavior: smooth;
}

@media (max-width: 75em) {
  html {
    font-size: 60%;
  }
}

/* 980px / 16px = 61.25em */
@media (max-width: 61.25em) {
  html {
    font-size: 58%;
  }
}

/* 460px / 16px = 28.75em */
@media (max-width: 28.75em) {
  html {
    font-size: 55%;
  }
}

h2 {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  text-align: center;
  color:white
}

h2 {
  font-size: 4.2rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

h1
{
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  text-align: center;
  color: white;
  font-size: 6rem;
}

  /*Projects sekce*/

  .projects-section {
    text-align: center;
    padding: 5rem 2rem;
    background-image: linear-gradient(62deg, #212121 0%, #474747 100%);
  }
  
  .projects-section-header {
    max-width: 640px;
    margin: 0 auto 6rem auto;
    border-bottom: 0.2rem solid white;
  }
  
  @media (max-width: 28.75em) {
    .projects-section-header {
      font-size: 4rem;
    }
  }

  .projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 4rem;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    margin-bottom: 6rem;
  }
  
  @media (max-width: 30.625em) {
    .projects-section {
      padding: 6rem 1rem;
    }
  
    .projects-grid {
      grid-template-columns: 1fr;
    }
  }
  
  .project {
    background: rgb(78, 78, 78);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    border-radius: 2px;
  }
  
  .code {
    color: rgb(78, 78, 78);
    transition: color 0.3s ease-out;
  }
  
  .project:hover .code {
    color: white;
  }

  .project:hover{
    background-color: #000;
    transition: background 0.3s ease-out;
  }
  
  .project-image {
    height: calc(100% - 6.8rem);
    width: 100%;
    object-fit: cover;
  }
  
  .project-title {
    font-size: 2rem;
    padding: 2rem 0.5rem;
  }
  
  .button {
    display: inline-block;
    padding: 1rem 2rem;
    border-radius: 2px;
    background-color: #ffffff;
    color:rgb(0, 0, 0);
    transition: 0.3s;
  }
  
  .button:hover {
    background-color: #000000;
    color:yellow;
  }

  .projects-grid:has(img:hover) img:not(:hover) {
    filter: blur(4px);
    transition: 0.3s;
  }